body {
    font-size: 22px;
}
.positioned {
    position: relative;
}
.red {
    background-color: #fe8e96;
}
.green {
    background-color: #bfe0a6;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 0;
}
#answers > li {
    margin-left: 10px;
    cursor: pointer;
}
#answers > li:hover {
    color: gray;
}

.prompt {
    display: none;
    font-style: italic;
    font-size: 2em;   
}
.hide {
    display: none;
}