
html {
    position: relative;
}
#answers > li {
    margin-left: 10px;
    cursor: pointer;
}
#answers > li:hover {
    color: gray;
}

.prompt {
    display: none;
    font-style: italic;
    font-size: 13px;   
}